# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
frontend/.next/
frontend/.next-cache-backup/
frontend/.next-cache-backup-*/
out/

# ML
ml/models/*.joblib
!ml/models/.gitkeep
ml/datasets/raw/brfss_2023.xpt

# Misc
.DS_Store
